<?xml version="1.0"?>
<model>
  <name>SDRC Water Bottle</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>Lorenzo Martinez</name>
    <email>lamart66@asu.edu</email>
  </author>
  <description>
    A plastic water bottle used as a visual landmark in the URC arena.
  </description>
</model>
